.m-top-banner {
  .pro-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      height: 40px;
    }
  }

  .icon-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      height: 40px;
    }
  }
}