.periodic-para-create-note {
  overflow: hidden !important;

  * {
    font-family: var(--font-interface);
  }

  button:not(.ant-btn) {
    background-color: unset;
    box-shadow: unset;
  }

  .ant-picker-cell-selected {
    .ant-picker-cell-inner {
      .cell-container {
        .chinese-cal {
          color: #fff;
        }
      }
    }
  }

  .ant-picker-cell-inner {
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    align-items: center;
    justify-content: center;

    .cell-container {
      position: relative;
      border-radius: 10px;

      .chinese-cal {
        display: block;
        line-height: initial;
        font-size: 11px;
        color: rgba(153, 153, 153, 0.45);
      }

      .dot {
        position: relative;
        height: 2px;
        color: var(--interactive-accent);
        display: block;
        margin: auto;
        top: -15px;
      }

      .week-dot {
        position: fixed;
        height: 2px;
        left: 20px;
        color: var(--interactive-accent);
      }

      .label {
        position: absolute;
        top: -5px;
        right: -8px;
        color: #fff;
        width: 13px;
        line-height: 13px;
        border-radius: 8px;
        font-size: 8px;

        &.workday {
          background-color: rgba(153, 153, 153, 0.45);
        }

        &.holiday {
          background-color: var(--interactive-accent);
        }
      }
    }
  }

  .ant-btn-primary {
    color: #fff;
    background-color: var(--interactive-accent);
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  }

  .ant-tabs-nav {
    margin: 8px 0;
    &::before {
      border: 0;
    }
  }

  .ant-form-item {
    .ant-picker {
      visibility: hidden;
    }

    .ant-picker-dropdown {
      display: flex;
      justify-content: center;
      position: relative;
      inset: -40px auto auto 0px !important;

      .ant-picker-panel-container {
        border-radius: 0;
        box-shadow: unset;
        transition: unset;
      }

      .ant-picker-header {
        border: 0;
      }

      .ant-picker-body {
        padding: 0 18px;
      }

      .ant-picker-header-view {
        line-height: 30px;
      }
    }

    .ant-input-affix-wrapper {
      padding: 0 11px;
    }
  }
}

.is-phone {
  .periodic-para {
    button {
      width: unset;
    }

    .ant-tabs-tab + .ant-tabs-tab {
      margin: 0 0 0 24px;
    }
  }
}
